MRF_single_rotor/*
Post_process/*
MRF_quad_rotor/results_*/*
MRF_quad_rotor/1500/*
MRF_quad_rotor/constant/polyMesh/
MRF_quad_rotor_with_body/*
MRF_quad_rotor_with_box/*
MRF_quad_rotor/mesh/constant/extendedFeatureEdgeMesh/*
MRF_quad_rotor/mesh/constant/polyMesh/*

*/log.simpleFoam
*.eMesh
*.csv
*.png
